<a href="https://colab.research.google.com/github/ykkim77/python_practice_5th/blob/main/python_practice_5th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 원형 연결 리스트

## 원형 연결 리스트 핵심 코드 구현

### 원형 연결리스트 정의

In [20]:
class Node() :
	def __init__ (self) :
		self.data = None
		self.link = None

- 첫번째 노드 생성

In [21]:
node1 = Node()

node1.data = "서울"
head = node1

node1.link = node1

In [22]:
print(node1.data)
print(node1.link.data)
print(node1.link.link.data)

서울
서울
서울

- 두번째 노드 생성

In [23]:
node2 = Node()
node2.data = "대구"
node1.link = node2

node2.link = node1

In [24]:
print(node1.data)
print(node1.link.data)
print(node1.link.link.data)
print(node1.link.link.link.data)

서울
대구
서울
대구

- 세번째 노드 생성

In [25]:
node3 = Node()
node3.data = "부산"
node2.link = node3

node3.link = node1

- 데이터가 3개인 원형 연결 리스트 출력

In [26]:
print(node1.data, end = ' ')
print(node1.link.data, end = ' ')
print(node1.link.link.data, end = ' ')
print(node1.link.link.link.data, end = ' ')

서울 대구 부산 서울

- 원형 연결 리스트 출력 함수

In [27]:
current = node1    # current 노드 지정
print(current.data, end = ' ')
while current.link != node1:     # current의 링크가 node1을 가리킬때 까지 반복
    current = current.link             # 현재 노드의 다음노드가 current로 지정
    print(current.data, end= ' ')  # current의 데이터 출력

서울 대구 부산

- 첫번째 자리에 데이터 삽입

In [28]:
newNode = Node()
newNode.link = head
newNode.data = '파주'

In [29]:
last = head    # 마지막 노드를 첫 번째 노드로 우선 지정

print(last.data, end = ' ')
while last.link != head:     # 마지막 노드를 찾을때 까지 반복
    last = last.link             # last 노드의 링크(다음노드)가 현재의 last가 되도록 함
last.link = newNode
head = newNode  
print(head.data, end= ' ')  # 새롭게 첫 데이터로 추가한 노드를 출력해 테스트해 봄

서울 파주

- 원형 리스트 출력

In [12]:
current = head    # current 노드 지정
print(current.data, end = ' ')
while current.link != head:     # current의 링크가 없을때 까지 반복
    current = current.link             # 현재 노드의 다음노드가 current로 지정
    print(current.data, end= ' ')  # current의 데이터 출력

파주 서울 대구 부산

- 중간에 데이터 삽입

In [30]:
current = head

while current.link != head: 
    pre = current      # pre 노드를 한 칸씩 이동
    current = current.link    # current 노드를 한 칸씩 이동
    if current.data == '부산' :    # current 노드가 부산이라면~
        node = Node()                  # 새로운 노드 생성
        node.data = '포항'            # 새로운 노드의 데이터에 ‘포항’ 입력
        node.link = current     # 새로운 노드의 링크는 current 노드를 가리킴
        pre.link = node            # pre 노드의 링크는 새로운 노드를 가리킴

- 원형 리스트 출력

In [31]:
current = head    # current 노드 지정
print(current.data, end = ' ')
while current.link != head:     # current의 링크가 없을때 까지 반복
    current = current.link             # 현재 노드의 다음노드가 current로 지정
    print(current.data, end= ' ')  # current의 데이터 출력

파주 서울 대구 포항 부산

- 마지막 자리에 데이터 삽입

In [32]:
current = head
while current.link != head:     # current의 링크가 없을때 까지 반복
    current = current.link             # 현재 노드의 다음노드가 current로 지정

newNode = Node()
newNode.data = "제주"
current.link = newNode
newNode.link = head

In [33]:
current = head    # current 노드 지정
print(current.data, end = ' ')
while current.link != head:     # current의 링크가 없을때 까지 반복
    current = current.link             # 현재 노드의 다음노드가 current로 지정
    print(current.data, end= ' ')  # current의 데이터 출력

파주 서울 대구 포항 부산 제주

- 데이터 삭제 : 첫번째 노드 삭제

In [34]:
current = head
head = head.link

In [35]:
last = head    # current 노드 지정

while last.link != current:     # current의 링크가 없을때 까지 반복
    last = last.link             # 현재 노드의 다음노드가 current로 지정

last.link = head
del(current)

- 원형 리스트 출력

In [36]:
current = head    # current 노드 지정
print(current.data, end = ' ')
while current.link != head:     # current의 링크가 없을때 까지 반복
    current = current.link             # 현재 노드의 다음노드가 current로 지정
    print(current.data, end= ' ')  # current의 데이터 출력

서울 대구 포항 부산 제주

- 첫번째 노드 외 삭제

In [39]:
current = head

while current.link != head:
    pre = current
    current = current.link
    if current.data == "대구":
        pre.link = current.link
        del(current)

- 원형 리스트 출력

In [40]:
current = head    # current 노드 지정
print(current.data, end = ' ')
while current.link != head:     # current의 링크가 없을때 까지 반복
    current = current.link             # 현재 노드의 다음노드가 current로 지정
    print(current.data, end= ' ')  # current의 데이터 출력

서울 포항 부산 제주

- 데이터 검색 구현

In [41]:
current = head
if current.data == '부산':
    print(current.data)
while current.link != head:
    current = current.link
    if current.data == '부산':
        print(current.data)

부산

In [42]:
del(head)
del(current)
del(pre)

- 연결 리스트를 함수로 구현하기

In [43]:
class Node() :
	def __init__ (self) :
		self.data = None
		self.link = None

def printNodes(start):
	current = start
	if current.link == None :
		return
	print(current.data, end=' ')
	while current.link != start:
		current = current.link
		print(current.data, end=' ')
	print()

def insertNode(findData, insertData) :
	global memory, head, current, pre

	if head.data == findData :		# 첫 번째 노드 삽입
		node = Node()
		node.data = insertData
		node.link = head
		last = head		# 마지막 노드를 첫 번째 노드로 우선 지정
		while last.link != head :	# 마지막 노드를 찾으면 반복 종료
			last = last.link	# last를 다음 노드로 변경
		last.link = node		# 마지막 노드의 링크에 새 노드 지정
		head = node
		return

	current = head
	while current.link != head :		# 중간 노드 삽입
		pre = current
		current = current.link
		if current.data == findData :
			node = Node()
			node.data = insertData
			node.link = current
			pre.link = node
			return

	node = Node()			 # 마지막 노드 삽입
	node.data = insertData
	current.link = node
	node.link = head

def findNode(findData) :
	global memory, head, current, pre

	current = head
	if current.data == findData :
		return current
	while current.link != head :
		current = current.link
		if current.data == findData :
			return current
	return Node()	# 빈 노드 반환

def deleteNode(deleteData) :
	global memory, head, current, pre

	if head.data == deleteData :         # 첫 번째 노드 삭제
		current = head
		head = head.link
		del(current)
		return

	current = head                          # 첫 번째  외 노드 삭제
	while current.link != head :
		pre = current
		current = current.link
		if current.data == deleteData :
			pre.link = current.link
			del(current)
			return

In [44]:
head, current, pre = None, None, None
memory = []
dataArray = ["서울", "대전", "부산"]

node = Node()			# 첫 번째 노드
node.data = dataArray[0]
head = node
node.link = head
memory.append(node)

for data in dataArray[1:] :		# 두 번째 노드부터
    pre = node
    node = Node()
    node.data = data
    pre.link = node
    node.link = head
    memory.append(node)

printNodes(head)
findNode('대전')
insertNode('대전','천안')
insertNode('서울','파주')
printNodes(head)
deleteNode('서울')

서울 대전 부산
파주 서울 천안 대전 부산